.align-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .entity{
    gap: 10px;
  }
  .text {
    font-size: 18px;
  }
  .logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/buy.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .logo_sell {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/sell.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .logo_dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/dollar.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .logo_percent {
    display: inline-block;
    width: 20px;
    height: 18px;
    background-image: url('../images/percent.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .logo_person {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/person.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  .textbox {
    display: inline;
    box-sizing:content-box;
    width: 200px;
    height: 30px;
    padding: 4px;
    margin-left: 10px;
  }
.buy{
    font-weight: light;
    padding: 4px 8px;
    justify-content: flex-end;
    display: flex;
    border: 4px black;      
    color: black;  
    text-align: center;  
    ._form-control {
        justify-content: flex-end;
        padding: 4px 8px;
    }
    ._entity {
        padding:4px;
    }
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    display: inline;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .gap{
    margin: 20px 10px;
  }

